PORT=5000
NODE_ENV=development
MONGO_URI=mongodb+srv://viadmin:vi123456@cluster0.nlccizf.mongodb.net/vimicrosystems?retryWrites=true&w=majority&appName=Cluster0
ALLOWED_ORIGINS=http://localhost:3000,http://127.0.0.1:5500